#globediv {
	width: 700px;
	height: 500px;
	float: left;
	padding-bottom: 10px;
}

.planetsToggleSelect {
	min-width: 80px;
}

.edit_error_class {
	display: block;
	color: red;
}

#replayheader {
	margin-bottom: 5px;
}

a {
	color: #000;
}

.spacingtop {
	margin-top: 10px;
}

#searchfield {
	width: 200px;
}

.centertext {
	text-align: center;
}

.centertext td {
	text-align: center;
}

a:hover {
	color: #ddd;	
}

* html ul li a {
	width: 1%;
}

#gametable td {
	padding: 0px;
	white-space:nowrap;
	overflow: hidden;
	max-width: 600px;
	text-overflow: ellipsis; 
}

#gametable th {
	background-color: #bbb;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d6d6d6),
		color-stop(0.4, #c0c0c0), color-stop(1, #a4a4a4) );
}

#gameIdColumn {
	width: 50px;
}

#gameDurationColumn {
	width: 50px;
}

.gamenum {
	text-align: center;
}

#gametable td {
	padding-left: 5px;
}

#gametable a {
	display: inline-block;
	text-decoration: none;
	color: #000000;
}

#gametable tbody tr:hover {
	color: grey;
}

#gametable tbody tr:hover a {
	color: grey;
}

.bold {
	font-weight: bold;
}

.playerlink {
	font-weight: bold;
	
}

#wrap { left:0; width:100%; top:0; height:800px; }
#updates { display: block; width:100%; height:100%; }

.white {
	color: #fff !important;
}

.teamsep {
	color: white !important;
}

.pages a:hover {
	text-decoration: none;
	color: #fff;
}

.pages a {
	text-decoration: none;
	color: #000;
}

.clicktable tbody tr:hover { 
	cursor: pointer; 
}

tbody tr:nth-child(even) td,tbody tr.even td {
	background-color: #ccc;
}

tbody tr:nth-child(odd) td,tbody tr.odd td {
	background-color: #ddd;
}

.topbar ul {
	list-style-type: none;
	overflow: auto;
	padding: 0;
	margin: 0;
	margin-left: 3px;
}

.topbar ul li {
	float: left;
	border: 1px solid #ccc;
	width: 106px;
	text-align: center;
	border-bottom: none;
	margin: 0 5px;
}

.topbar ul li a {
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	text-decoration: none;
	color: #000000;
	background-color: #bbb;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d6d6d6),
		color-stop(0.4, #c0c0c0), color-stop(1, #a4a4a4) );
}

.topbar ul li a:hover {
	background-color: #fff;
}

body {
	font-family: "Open Sans", Helvetica, Arial
}

.stat {
	background-color: #bbb;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-radius: 7px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d6d6d6),
		color-stop(0.4, #c0c0c0), color-stop(1, #a4a4a4) );
	margin: 10px 0 16px 0;
	font-size: 0px;
}

.pages {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d6d6d6),
		color-stop(0.4, #c0c0c0), color-stop(1, #a4a4a4) );
	background-color: #bbb;
	padding-left: 7px;
	padding-right: 7px;
	margin-bottom: 5px;
	border-radius: 7px;
}

.greyborder {
	border: 3px solid #ccc
}

.planetemblem {
	margin-left: 20px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0px;
	border:1px solid #dcdcdc;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:15px;
	line-height:15px;
	width:105px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}

.bigfont {
	font-size: 20px;
}

#playerName {
	cursor: pointer;
	text-decoration: underline;
}

#playerName:hover {
	color: #ddd !important;
}

.legend {
	background-color: #bbb;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-radius: 7px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d6d6d6),
		color-stop(0.4, #c0c0c0), color-stop(1, #a4a4a4) );
}

.greybox {
	padding: 5px;
	margin-bottom: 10px;
	border: 2px solid #ddd;
	background: #BDBDBD;
	color: #000;
	border-color: #D8D8D8;
	border-radius: 7px;
}

#chartcontainer {
	margin-top: 10px;
}

.legend li:first-child {
	border-radius: 7px 7px 7px 7px;
}

.legend li:last-child {
	border-radius: 7px 7px 7px 7px;
}

.legend li {
	font-size: 12px;
	font-weight: bold;
	display: block;
	padding: 0.5em 1.5em;
	color: #444;
	cursor: default !important;
	text-shadow: #f7f7f7 0 1px 1px;
}

.stat li:hover {
	background-color: #ddd;
}

.stat li:first-child {
	border-radius: 7px 0 0 7px;
}

.stat li:last-child {
	border-radius: 7px 0 0 7px;
}

.stat li {
	font-size: 12px;
	font-weight: bold;
	display: block;
	padding: 0.5em 1.5em;
	cursor: pointer;
	color: #444;
	text-shadow: #f7f7f7 0 1px 1px;
}

.stat .selected {
	background-color: #444 !important;
	color: white;
	text-shadow: none;
	cursor: default;
	box-shadow: inset 1px 2px 6px #070707;
	border-radius: 7px 0 0 7px;
}

.army_composition_unit {
	position: relative;
	float: left;
	height: 55px;
    width: 55px;
    margin:1px;
    border: 1px solid rgba(10,10,10,.5);
    background-color: rgba(10,10,10,.3);
    border-radius: 7px 7px 7px 7px;
}

.army_composition_img {
	height: 48px;
    width: 48x;
    top:0px;
    left:0px;
    z-index: 51;
    position:absolute;
}

.army_composition_sicon {
	height: 32px;
    width: 32x;
    bottom:0px;
    left:0px;
    z-index: 101;
    position:absolute;
}

.army_composition_unit_count {
	padding: 2px;
    float:right;
    position:relative;
    top: 34px;
    z-index:100;
    color: #fff;
}

.army_team_box {
	float:left;
	width: 945px;
	min-height: 81px;
	margin:5px;
	border: 1px solid rgba(10,10,10,.5);
	border-radius: 7px 7px 7px 7px;
}

.army_primary_color {
  float: right;
  height:14px;
  width:100px;
  border:1px solid rgba(10,10,10,.5);
  border-radius: 7px 7px 7px 7px;
  margin-top: 1px;
  margin-bottom: 1px;
  display:inline-block;
}

.army_secondary_color {
  height:100%;
  width:10px;
  display:inline-block;
  margin:0 0 0 10px;
  
}

.army_composition_time_display {
	height: 20px;
}

.army_composition_selected_time {
	width: 40px;
	font-size: 12px;
	float: left;
	text-align: right;
	border:1px solid rgba(10,10,10,.5);
}

.army_composition_time {
	float: right;
	width: 900px;
	height: 18px;
	border:1px solid rgba(10,10,10,.5);
}

.army_header_box {    
	height: 22px;
}

.army_team_name {
	float: left;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
	max-width: 800px;
}

/* http://stackoverflow.com/questions/796087/make-a-div-into-a-link */
.link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1000;
}


/* SYSTEM INFO PANEL */
#systemInfo > h2 {
    color: cyan;
    padding: 10px 20px;
    background: rgba(50,50,50,0.4);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    font-weight: normal;
    font-size: 18px;

}
.system-name {
    font-weight: bold;
    font-size: 24px;
}

.system-view {
    background: url(../img/deep_space_bg.png);
    color: white;
    overflow: hidden;
    padding-bottom: 12px;
}
.system-view * {
    overflow: visible !important;
}
.planet-list {
}
.planet-view {
    display: inline-block;

}
.start:after {
    content: "no";
    color: red;
}
.start.starting-planet:after {
    content: "yes";
    color: green;
}
[class^="planet-hud"] {
    display: table-cell;
    vertical-align: middle;
}

.planet-hud-pre {
    min-width: 80px;
    text-align: center;
}

.planet-hud-pre div {
    border: 1px solid cyan;
    width: 24px;
    display: inline-block;
    height: 18px;
    -webkit-transform: skew(-72deg);
    -ms-transform: skew(-72deg);
    transform: skew(-72deg);
    border-width: 1px 0 0 1px;
    margin-bottom: 22px;
}

.planet-hud-pre.reverse div {
    -webkit-transform: skew(72deg);
    -ms-transform: skew(72deg);
    transform: skew(72deg);
    border-width: 1px 1px 0 0;
}

.planet-hud-caption {
    vertical-align: top;
    text-align: right;
    max-width: 116px;
    width: 116px;
    position: relative;
}
.planet-hud-caption img {
    position: absolute;
    top: 0;
}

.planet-view caption {
    background: transparent;
    font-size: 1.618em;
    padding: 3px;
    color: cyan;
}
.planet-view .title-right {
    font-size: 0.5em;
    float:right;
    padding-top: 0.618em;
}
.planet-view table {
    width: 250px;
}

.planet-view td {
    background-color: transparent !important;
    line-height: 0.764em;
    padding: 0.238em;
    width: 25%
}